*{

height: 100%;
width: 100%;
}
.btn{


	transition: all .5s ease;
	width: 50%;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 1em;
	margin-bottom: 1em;

}
.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }


  .products li{

    list-style-type: none;
    padding: 5px;
    flex: 0 1 34rem;
    margin: 1rem;
    border-bottom: 0.1rem #c0c0c0 solid;
  }
  .product {
    width: 600px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 2px #000000;
    margin: 1rem;
    border-radius: 30px;


  }
  .detalji{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 2px #00695c;
    margin: 1rem;
  }
  .user {
    width: 30%;
    box-shadow: 2px 2px 2px 2px #00695c;
    margin: 1rem;
  }
  .zanarudjbu {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 2px #00695c;
  }
  .product-name {
    font-size: 2rem;
    font-weight: bold;

  }
  .product-brand {
    font-size: 1.2rem;
    color: #808080;
  }
  .product-price {
    font-size: 2rem;
    font-weight: bold;
  }
  .product-image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5px;

   }
  .user-image {
    float: left;
    border-radius: 30px;
    height: 100px;
    width: 100px;
}
  .product-rating {
    margin-bottom: 1rem;
  }
  #dodaj{

    top: 10px;
    right: 0;

  }







body {
  background: #d1d5db
}

.height {
  height: 20px;
}

.form {
  position: relative
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 5px;
  border-left: 1px solid #d1d5db
}

.left-pan {
  padding-left: 7px
}

.left-pan i {
  padding-left: 10px
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px
}

.form-input:focus {
  box-shadow: none;
  border: none
}
