<br>
<!-- Search form -->
<form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input [(ngModel)]="searchtext" (ngModelChange)="Pretraga()" name="searchtext" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
         aria-label="Search">
</form>


    <body>


        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div *ngFor="let a of Artikli | paginate: {itemsPerPage:12,currentPage:page,totalItems:totalLength}" class="col mb-5" >
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{a.slikaArtikla}}" alt="" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{a.nazivArtikla}}</h5>
                                    <!-- Product price-->
                                    {{a.cijena}}KM
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="product/{{a.id}}">Pogledaj detalje</a></div>
                            </div>
                        </div>
                    </div>

                </div>
              <pagination-controls  class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>
            </div>
        </section>




    </body>




<footer class="footer-59391">

  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-lg-center site-logo order-1 order-lg-2 mb-3 mb-lg-0">
        <a href="/homepage" class="m-0 p-0">Xloxlo</a>
      </div>
      <div class="col-lg-4 order-2 order-lg-1 mb-3 mb-lg-0">
        <ul class="list-unstyled nav-links m-0 nav-left">
          <li><a href="/Objava">Objavi</a></li>
          <li><a href="/login">Logiraj se</a></li>
          <li><a href="/homepage">Početna</a></li>
          <li><a href="/signup">Registruj se</a></li>
        </ul>
      </div>
      <p>Xloxlo - Iskoristi priliku da tvoj artikal vidi cijeli region. Objavi pa prodaj</p>

      <div class="col-lg-4 text-lg-right order-3 order-lg-3">
        <p class="m-0 text-muted"><small>&copy; 2022. All Rights Reserved.</small></p>
      </div>
    </div>
  </div>

</footer>
